.review {
  height: 28rem; 
  
}

.review-instructions {
  color: var(--secondary-colour);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

/* .grading-criteria {
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: var(--silver);
} */

.review .buttons-wrapper {
  display: grid;
  justify-content: center;
  height: 16rem;   /* height: 280px; */
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.review .buttons-wrapper button {
  display: inline-block; 
  /* width: 12rem;
  height: 3rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0.25rem;

  border-radius: 2rem;
  border: 1px solid;
  border-color: var(--silver-light);

  background: inherit;

  font: inherit;
  color: var(--secondary-colour);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 1.5px 1.5px 0px var(--light-grey);
}

.review .buttons-wrapper button.active {
  box-shadow: inset 0px 2px 2px var(--primary-colour-dark);
  background: var(--primary-colour-medium);
  color: var(--secondary-colour);
}

.review .buttons-wrapper::-webkit-scrollbar {
    width: 0.4em; 
}

.review .buttons-wrapper::-webkit-scrollbar-track {
  background-color: var(
    --white
  ); 
  margin-block-start: 1rem;
  margin-block-end: 4rem;
}

.review .buttons-wrapper::-webkit-scrollbar-thumb {
  background-color: #e4e8e9; 
  border-radius: 200vw; 
  border: 1 solid var(--light-grey);
}

.review .buttons-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --medium-grey
  ); 
}

.review .btn-submit {
  width: 8rem;
  height: 2.5rem;
  padding: 0.25rem;
  margin: 0.25rem;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--accent-colour);

  background: var(--accent-colour);

  font: inherit;
  font-weight: bold;
  color: var(--accent-colour-light);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 1.5px 1.5px 0px var(--light-grey);
}

.review .btn-submit-active {
  width: 8rem;
  height: 2.5rem;
  padding: 0.25rem;
  margin: 0.25rem;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--semantic-green);

  background: var(--semantic-green);

  font: inherit;
  font-weight: bold;
  color: var(--accent-colour);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0px 2px 2px var(--semantic-green-dark);
}

.preview-and-submit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 1rem; */
}

.preview-and-submit #rating {
  margin-top: 0px;
  margin-bottom: 0px;
}
