::placeholder {
  color: lightblue; /* colour for placeholder of search bar */
  padding-left: 1rem;
}

.search-filter-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 1.25rem;
  /* width: 100%; */
}

.search {
  width: 100%;
}

.search input {
  width: 100%;
  height: 90%;
  margin: 0.25rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background: var(--accent-colour);
  font: inherit;
  color: var(--white); /* placeholder colour is specified above, not here */
  cursor: pointer;
}

@media (max-width: 900px) {

  .search-filter-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search {
    width: 70%;
  }
  
}