.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  gap: 0.25rem;
  margin-top: 1rem;
}

.card {
  /* height: 100%;
  width: 100%; */
  border: 1px solid var(--midnight-black);
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  /*padding: 10% 10%;*/
  
 /* margin: 16px;*//*margin: 5% 0%;*/
  /*flex: 1;*/
}

.search-wrapper {
  display: flex;
}

.hide {
  display: none;
}

button {
  width: 121px;
  height: 52px;
  margin: 4px;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: inherit;

  font: inherit; 
  color: var(--electric-blue);

  cursor: pointer;
  /* 
  Form elements such as 'button' or 'select'
  do not inherit properties from parent elements.
  As such, "font: inherit;" would force a form element 
  to inherit the properties defined for body{}
  */
}

input {
  width: 300px;
  height: 52px;
  margin: 4px;
  padding-left: 1.25rem;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: var(--electric-blue);

  font: inherit;
  color: white; /* placeholder colour is specified above, not here */

  cursor: pointer;
}

.filter button {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 2px 0px var(--electric-blue);
}

button.active {
  box-shadow: inset 0px 2px 2px var(--midnight-black);
  background: #0167FF;
  color: white;
}

