.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 315px)); /* original max was 1fr */
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  display: inline-block; 
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  min-height: 16rem; 
  background-color: var(--white);
  box-shadow: 0px 2px 2px 0px var(--silver-light);
  overflow-y: auto; /* add vertical scrollbar */
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.average-stars {
  display: inline-block; 
  border: 0px none;
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  align-items: center;
  font-weight: bold;
  background: var(--primary-colour-medium);
  color: var(--gold);
}

.type {
  /* display: inline-block;  */
  /* make container hug text contents */
  /* height: 28px; width: 79px; */
  /* border: 0px none; */
  /* border-radius: 1rem; */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  align-items: center; */
  font-weight: bold;
  /* background: var(--silver-light); */
  color: var(--light-grey);
  /* margin-top: 0.25rem; */
  /* margin-bottom: 0.5rem; */
  /* margin-left: 0.25rem;
  margin-right: 10rem; */
}

.place {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;

  /* This CSS snippet uses the -webkit-line-clamp property to limit the text to two lines and the text-overflow property to add an ellipsis when the text overflows the container.
  Please note that the -webkit-line-clamp property is a WebKit-specific feature and might not work in all browsers. However, it's widely supported in modern browsers like Chrome, Safari, and newer versions of Firefox. */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  color: var(--silver);
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-description {
  color: var(--silver);
  margin: 0;
}

.expanded-section {
  height: 400px;
  
}

.expanded-section::-webkit-scrollbar {
  background-color: white; /* change to white so scroll bar isnt seen */
}
/* .swiper navigation {
  width: 10px;
  height: 10px;
} */