footer {
    margin-top: 1rem; 
    padding: 1rem;
    background-color: var(--primary-colour-medium);
    width: 100%;
  }

  footer li {
    list-style: none;
  }
  
  footer a {
    font-weight: bold;
    color: var(--medium-grey);
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--accent-colour-light);
  }