@import url("./styles/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box; /* setting this to border-box as the css default is content-box */
}

:root {
  --primary-colour: #fefff4;
  --primary-colour-medium: #f4f9c8;
  --primary-colour-dark: #D4DE73;
  --secondary-colour: #0b2e35;
  --accent-colour: #0167ff;
  --accent-colour-light: #76adff;
  --accent-colour-dark: #0148B4;

  --gold: #ae7d00;
  /* --light-gold: #fff5db; */
  --silver: #758a8f;
  --silver-light: #f1f4f4;
  /* --bronze: #b45900;
  --light-bronze: #ffeddb; */
  --semantic-green: #D7FFC7;
  --semantic-green-dark: #ADE597;

  --medium-grey: #485558;
  --light-grey: #c8d0d2;
  --white: #ffffff;
}

body {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap;
  align-items: center; */
  justify-content: center;
  min-height: 100vh; /* so that footer stays at the bottom */

  background-color: var(--primary-colour);

  font-family: "Hauora Sans";
  font-weight: normal;
  text-align: left;
  font-size: 1rem;
  color: var(--secondary-colour);
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: medium;
}

h3 {
  font-weight: light;
}

p {
  font-weight: normal;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Remove default arrows from swiperJS */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* TODO: add custom arrow

See https://www.youtube.com/watch?v=4aJPgKLwAGY at 11:44
.swiper-button-prev {
 background-image: insert svg;
}

.swiper-button-next {
  background-image: insert svg
} */

/* .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.container {
  padding: 0.5rem;
}

.welcomeMessage {
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: var(--accent-colour-light);
}

@media (min-width: 700px) {
  .container {
    min-width: 680px;
  }
}

@media (min-width: 900px) {
  .container {
    min-width: 800px;
  }
}

@media (min-width: 1000px) {
  .container {
    min-width: 1000px;
  }
}
