@import url('./fonts.css');

*,
*::before,
*::after {
  box-sizing: border-box; /* setting this to border-box as the css default is content-box */
}

::placeholder {
  color: white;
}

:root {
  --midnight-black:#1B2021;
  --dark-grey: #485558;
  --silver-grey: #758A8F;
  --light-grey: #F1F4F4;
  --electric-blue: #0167FF;
  --baby-yellow: #FEFFF4;
  --gold: #AE7D00;

}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 217px;
  margin-left: 217px;

  background-color: #FEFFF4;

  font-family: 'Hauora Sans';
  font-weight: normal;
  text-align: left;  
  font-size: 1rem;
  color: var(--midnight-black);
}

h1 {
  font-weight: bold; 
}

h2 {
  font-weight: medium; 
}

h3 {
  font-weight: light; 
}

p {
  font-weight: normal; 
}

.nav {
  display: flex;
  padding: 0.25rem; /* used padding instead of margins as a bottom margin would add space between the navBar and search elements */
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); 
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: var(--electric-blue);
  text-decoration: none;
}

.nav a:hover {
  color: hotpink;
}

.logo {
  font-family: 'Poppins';
  font-weight: bold;
  text-align: left;  
  font-size: 2rem;
  color: var(--electric-blue);
}