@import url("./fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box; /* setting this to border-box as the css default is content-box */
}

:root {
  --primary-colour: #fefff4;
  --secondary-colour: #0b2e35;
  --accent-colour: #0167ff;
  --accent-colour-light: #76adff;

  --gold: #ae7d00;
  --light-gold: #fff5db;
  --silver: #758a8f;
  --silver-light: #f1f4f4;
  --bronze: #b45900;
  --light-bronze: #ffeddb;
  --semantic-green: #45e103;
  --semantic-green-dark: #0e2d01;

  --medium-grey: #485558;
  --light-grey: #c8d0d2;
  --white: #ffffff;
}

body {
  display: flex;
  /* flex-wrap: wrap;
  align-items: center; */
  justify-content: center;

  background-color: var(--primary-colour);

  font-family: "Hauora Sans";
  font-weight: normal;
  text-align: left;
  font-size: 1rem;
  color: var(--secondary-colour);
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: medium;
}

h3 {
  font-weight: light;
}

p {
  font-weight: normal;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Remove default arrows from swiperJS */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* TODO: add custom arrow

See https://www.youtube.com/watch?v=4aJPgKLwAGY at 11:44
.swiper-button-prev {
 background-image: insert svg;
}

.swiper-button-next {
  background-image: insert svg
} */

/* .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.welcomeMessage {
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1rem 1rem 3rem 1rem; /* top | right | bottom | left */
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 3rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--accent-colour-light);
}

@media (max-width: 700px) {

  .welcomeMessage {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  .container {
    min-width: 680px;
  }

  .welcomeMessage {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .container {
    min-width: 800px;
  }

  .welcomeMessage {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .container {
    min-width: 1000px;
  }
}
