.review {
  height: 450px;
  padding: 0.25rem;
}

.buttons-wrapper button {
  width: 240px;
  height: 40px;
  margin: 4px;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: inherit;

  font: inherit;
  color: var(--electric-blue);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 1.5px 1.5px 0px var(--electric-blue);
}

.buttons-wrapper button.active {
  box-shadow: inset 0px 2px 2px var(--midnight-black);
  background: #0167ff;
  color: white;
}

.review .buttons-wrapper {
  height: 280px;
  display: grid;
  justify-content: center;
  overflow-y: auto;
}

/* Custom scrollbar styles for webkit-based browsers */
.buttons-wrapper::-webkit-scrollbar {
  
    width: 0.4em; /* Set the width of the scrollbar */
}

.buttons-wrapper::-webkit-scrollbar-track {
  background-color: var(
    --light-grey-0
  ); /* Set the color of the scrollbar track e.g. #f1f1f1 */
  margin-block-start: 0.2em;
  margin-block-end: 8rem;
}

.buttons-wrapper::-webkit-scrollbar-thumb {
  background-color: #e4e8e9; /* Set the color of the scrollbar thumb */
  border-radius: 200vw; /* Set the border radius of the scrollbar thumb #888 */
  border: 1 solid var(--light-grey-2);
}

.buttons-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --light-grey-3
  ); /* Set the color of the scrollbar thumb on hover e.g. #555 */
}

.btn-submit-review-active {
  width: 240px;
  height: 40px;
  margin: 4px;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: inherit;

  font: inherit;
  color: var(--electric-blue);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 1.5px 1.5px 0px var(--electric-blue);
}

.btn-submit-review {
  width: 240px;
  height: 40px;
  margin: 4px;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: var(--electric-blue);

  font: inherit;
  color: var(--baby-yellow);

  cursor: pointer;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0px 2px 2px var(--midnight-black);
}

.previewRating h1, p {
  display: flex;
  justify-content: center;
  align-items: center;
}