.search-wrapper {
  display: flex;
  margin-bottom: 2rem;
}

input {
  width: 350px;
  height: 52px;
  margin: 4px;
  padding-left: 1.25rem;

  border-radius: 24px;
  border: 1px solid;
  border-color: var(--electric-blue);

  background: var(--electric-blue);

  font: inherit;
  color: white; /* placeholder colour is specified above, not here */

  cursor: pointer;
}
