::placeholder {
  color: lightblue; /* colour for placeholder of search bar */
  padding-left: 1rem;
}

.search-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.search {
  width: 70%;
}

.search input {
  width: 100%;
  height: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  background: var(--accent-colour);
  font: inherit;
  color: var(--white); /* placeholder colour is specified above, not here */
  cursor: pointer;
}

/* @media (max-width: 1310px) {
  .search-filter-wrapper {
    display: block;
    margin-bottom: 2rem;
  }
} */
